<!DOCTYPE html>
<html>
<head>
    <title>Customer Care - Voice Agent Screen</title>
    <link rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>
    <style>
        section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}
        #messages {
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}
        .me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}
    </style>
    <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.9.4/taskrouter.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v1.2/twilio-chat.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        /* Subscribe to a subset of the available TaskRouter.js events for a worker */
        var ReservationObject;
        var $chatWindow = $('#messages');
        var chatClient;
        var generalChannel;
        var username;

        function registerTaskRouterCallbacks() {
            worker.on('ready', function (worker) {
                agentActivityChanged(worker.activityName);
                logger("Successfully registered as: " + worker.friendlyName);
                logger("Current activity is: " + worker.activityName);
            });

            worker.on('activity.update', function (worker) {
                agentActivityChanged(worker.activityName);
                logger("Worker activity changed to: " + worker.activityName);
            });

            worker.on("reservation.created", function (reservation) {
                logger("-----");
                logger("New chat request!");
                logger("Reference: " + reservation.task.attributes.channel);
                logger("-----");
                logger(reservation.sid);
                console.log(reservation.sid);
                ReservationObject = reservation;


            });

            worker.on("reservation.accepted", function (reservation) {
                logger("Reservation " + reservation.sid + " accepted!");
            });

            worker.on("reservation.rejected", function (reservation) {
                logger("Reservation " + reservation.sid + " rejected!");
            });

            worker.on("reservation.timeout", function (reservation) {
                logger("Reservation " + reservation.sid + " timed out!");
            });

            worker.on("reservation.canceled", function (reservation) {
                logger("Reservation " + reservation.sid + " canceled!");
            });
        }

        /* Hook up the agent Activity buttons to TaskRouter.js */

        function bindAgentActivityButtons() {
            // Fetch the full list of available Activities from TaskRouter. Store each
            // ActivitySid against the matching Friendly Name
            var activitySids = {};
            worker.activities.fetch(function (error, activityList) {
                var activities = activityList.data;
                var i = activities.length;
                while (i--) {
                    activitySids[activities[i].friendlyName] = activities[i].sid;
                }
            });

            /* For each button of class 'change-activity' in our Agent UI, look up the
             ActivitySid corresponding to the Friendly Name in the button’s next-activity
             data attribute. Use Worker.js to transition the agent to that ActivitySid
             when the button is clicked.*/
            var elements = document.getElementsByClassName('change-activity');
            var i = elements.length;
            while (i--) {
                elements[i].onclick = function () {
                    var nextActivity = this.dataset.nextActivity;
                    var nextActivitySid = activitySids[nextActivity];
                    worker.updateActivity(nextActivitySid);

                    console.log(worker);

                    console.log('from event change:' + globalReservationObject.sid);

                }
            }
        }

        /* Update the UI to reflect a change in Activity */

        function agentActivityChanged(activity) {
            hideAgentActivities();
            showAgentActivity(activity);
        }

        function hideAgentActivities() {
            var elements = document.getElementsByClassName('agent-activity');
            var i = elements.length;
            while (i--) {
                elements[i].style.display = 'none';
            }
        }

        function showAgentActivity(activity) {
            activity = activity.toLowerCase();
            var elements = document.getElementsByClassName(('agent-activity ' + activity));
            elements.item(0).style.display = 'block';
        }

        function acceptReservation() {

            ReservationObject.accept();
            var $chatWindow = $('#messages');

    // Our interface to the Chat service
    var chatClient;

    // A handle to the "general" chat channel - the one and only channel we
    // will have in this sample app
    var generalChannel;

    // The server will assign the client a random username - store that value
    // here
    var username;

    // Helper function to print info messages to the chat window
    function print(infoMessage, asHtml) {
        var $msg = $('<div class="info">');
        if (asHtml) {
            $msg.html(infoMessage);
        } else {
            $msg.text(infoMessage);
        }
        $chatWindow.append($msg);
    }

    function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }
    // Helper function to print chat message to the chat window
    function printMessage(fromUser, message) {
        var $user = $('<span class="username">').text(fromUser + ':');
        if (fromUser === username) {
            $user.addClass('me');
        }
        var $message = $('<span class="message">').text(message);
        var $container = $('<div class="message-container">');
        $container.append($user).append($message);
        $chatWindow.append($container);
        $chatWindow.scrollTop($chatWindow[0].scrollHeight);
    }

    // Alert the user they have been assigned a random username
    logger('Logging in...');

    // Get an access token for the current user, passing a username (identity)
    // and a device ID - for browser-based apps, we'll always just use the
    // value "browser"
    $.getJSON('/token', {
        device: 'browser'
    }, function(data) {
        // Alert the user they have been assigned a random username
        username = data.identity;
        print('You have been assigned a random username of: '
            + '<span class="me">' + username + '</span>', true);

        // Initialize the Chat client
        chatClient = new Twilio.Chat.Client(data.token);
        chatClient.getSubscribedChannels().then(createOrJoinGeneralChannel);
    });


    function createOrJoinGeneralChannel() {
        // Get the general chat channel, which is where all the messages are
        // sent in this simple application
       logger('Attempting to join "general" chat channel...');
        var promise = chatClient.getChannelBySid(ReservationObject.task.attributes.channel);
        promise.then(function(channel) {
            generalChannel = channel;
           logger('Found general channel:');
            console.log(generalChannel);
            setupChannel();
        }).catch(function() {
            // If it doesn't exist, let's create it
            logger('Creating general channel');
            chatClient.createChannel({
                uniqueName: 'general',
                friendlyName: 'General Chat Channel'
            }).then(function(channel) {
                logger('Created general channel:');
                logger(channel);
                generalChannel = channel;
                setupChannel();
            });
        });
    }

    // Set up channel after it has been found
    function setupChannel() {
        // Join the general channel
        generalChannel.join().then(function(channel) {
            print('Joined channel as '
                + '<span class="me">' + username + '</span>.', true);
        });

        // Listen for new messages sent to the channel
        generalChannel.on('messageAdded', function(message) {
            printMessage(message.author, message.body);
        });
    }

    // Send a new message to the general channel
    var $input = $('#chat-input');
    $input.on('keydown', function(e) {
        if (e.keyCode == 13 && generalChannel) {
            generalChannel.sendMessage($input.val())
            $input.val('');
        }
    });

        }

        function completeReservation(){
            ReservationObject.task.complete();
            logger('chat complete!')

        }

        function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }

        window.onload = function () {
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token| safe }}");

            registerTaskRouterCallbacks();
            bindAgentActivityButtons();
        };


    </script>

</head>
<body>
<div class="content">
    <section class="agent-activity offline">
        <p class="activity">Offline</p>
        <button class="change-activity" data-next-activity="Idle">Go Available</button>
    </section>
    <section class="agent-activity idle">
        <p class="activity"><span>Available</span></p>
        <button class="change-activity" data-next-activity="Offline">Go Offline</button>
    </section>
    <section class="agent-activity reserved">
        <p class="activity">Reserved</p>
    </section>
    <section class="agent-activity busy">
        <p class="activity">Busy</p>
    </section>
    <section class="agent-activity wrapup">
        <p class="activity">Wrap-Up</p>
        <button class="change-activity" data-next-activity="Idle">Go Available</button>
        <button class="change-activity" data-next-activity="Offline">Go Offline</button>
    </section>
    <section>
        <button onclick="acceptReservation()">Accept chat</button>
         <button onclick="completeReservation()">End chat</button>
    </section>
    <section class="log">

        <textarea id="log" readonly="true"></textarea>

    </section>
    <!--<script src={{ url_for('static', filename='js/index.js') }}></script>-->


  <section>
    <div id="messages"></div>
    <input id="chat-input" type="text" placeholder="say anything" autofocus/>
  </section>



</div>
</body>
</html>