<!DOCTYPE html>
<html>
<head>
    <title>Owl Agent UI</title>

    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
    <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.10/taskrouter.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
        .btn {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            background-image: -o-linear-gradient(top, #3498db, #2980b9);
            background-image: linear-gradient(to bottom, #3498db, #2980b9);
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }
    </style>


    <script type="text/javascript">

        Twilio.Device.setup("{{ token }}", {debug: true});

        Twilio.Device.ready(function (device) {
            console.log("Client '{{ client_name }}' is ready");
        });

        Twilio.Device.error(function (error) {
            $("#logger").text("Error: " + error.message);
        });

        Twilio.Device.connect(function (conn) {
            $("#logger").text("Successfully established call");
        });

        Twilio.Device.disconnect(function (conn) {
            $("#logger").text("Call ended");
        });

        Twilio.Device.incoming(function (conn) {
            //$("#logger").text("Incoming connection from " + conn.parameters.From);
            // accept the incoming connection and start two-way audio
            conn.accept();
        });

        function call() {
            // get the phone number or client to connect the call to
            params = {"PhoneNumber": $("#number").val()};
            Twilio.Device.connect(params);
        }

        function hangup() {
            Twilio.Device.disconnectAll();
            
            logger(worker.friendlyName + " has ended the call");
            ReservationObject.task.complete();
            
            //if (ReservationObject.task.attributes.selected_product === "manager"){
            //    logger(worker.friendlyName + " has ended the call");
              //  ReservationObject.task.complete();
            //}
            //else{
            //    logger(worker.friendlyName + " has ended the call");
            //}
            document.getElementById("btn_hangup").style.display = "none";
            document.getElementById("btn_online").style.display = "none";
            document.getElementById("btn_offline").style.display = "inline";
            document.getElementById("btn_mute").style.display = "none";
            document.getElementById("btn_unmute").style.display = "none";
        }

          function hangupManager() {
            ReservationObject.task.complete(); //complete the call instruction task
            //set the manager to wrap up
             worker.update("ActivitySid", "{{ activity['WrapUp'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                } else {
                    console.log(worker.activityName);
                }
            });

            Twilio.Device.disconnectAll();

            document.getElementById("btn_hangup").style.display = "none";
            document.getElementById("btn_online").style.display = "none";
            document.getElementById("btn_offline").style.display = "inline";
            document.getElementById("btn_mute").style.display = "none";
            document.getElementById("btn_unmute").style.display = "none";
        }


    </script>

    <script type="text/javascript">
        //TaskRouter JS code
        var ReservationObject;

        function registerTaskRouterCallbacks() {
            worker.on('ready', function (worker) {
                logger("Successfully registered as: " + worker.friendlyName);
                logger("Current activity is: " + worker.activityName);
                updateUIStatus(worker.activityName);
            });

            worker.on('activity.update', function (worker) {

                logger("Worker activity changed to: " + worker.activityName);
                var workerStatus = worker.activityName;
                updateUIStatus(worker.activityName);

                if (worker.activitySid === "{{ activity['WrapUp'] }}") {

                    if (ReservationObject) {
                        //console.log("Worker is wrapping up!");
                        //console.log(ReservationObject);
                      //  ReservationObject.task.complete();
                    }
                }


                if (worker.activityName === "Offline" || worker.activityName === "WrapUp") {
                    document.getElementById("btn_online").style.display = "inline";
                    document.getElementById("btn_offline").style.display = "none";
                }


            });
            worker.on('reservation.created', function (reservation) {
                logger("-----");
                logger("You have been reserved to handle a call!");
                logger("Call from: " + reservation.task.attributes.from);
                logger("Selected language: " + reservation.task.attributes.selected_language);
                logger("Selected language: " + reservation.task.attributes.selected_product);
                logger("-----");
                logger(reservation.sid);
                ReservationObject = reservation;
                document.getElementById("btn_accept").style.display = "inline";
                document.getElementById("btn_reject").style.display = "inline";
                document.getElementById("btn_offline").style.display = "none";
            });

            worker.on('reservation.accepted', function (reservation) {
                logger("Reservation " + reservation.sid + " accepted!");
                ReservationObject = reservation; // update reservationObject to contain the updated reservation information/task attributes e.g. conference
            });

            worker.on('reservation.rejected', function (reservation) {
                logger("Reservation " + reservation.sid + " rejected!");
            });

            worker.on('reservation.timeout', function (reservation) {
                logger("Reservation " + reservation.sid + " timed out!");
            });

            worker.on('reservation.canceled', function (reservation) {
                logger("Reservation " + reservation.sid + " canceled!");
            });
        }


        function goAvailable() {

            // update worker's activity to Idle
            worker.update("ActivitySid", "{{ activity['Idle'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                } else {
                    console.log(worker.activityName); // "Idle"
                }
            });

            document.getElementById("btn_online").style.display = "none";
            document.getElementById("btn_offline").style.display = "inline";
        }

        function goOffline() {

            // update worker's activity to Offline
            worker.update("ActivitySid", "{{ activity['Offline'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                } else {
                    console.log(worker.activityName); // "Offline"
                }
            });


            document.getElementById("btn_offline").style.display = "none";
            document.getElementById("btn_mute").style.display = "none";
            document.getElementById("btn_unmute").style.display = "none";
            document.getElementById("btn_escalate").style.display = "none";

        }

        function updateUIStatus(update) {

            statusDiv = document.getElementById("worker_status").innerText = update;
            if (update === "Offline") {

                document.getElementById("btn_online").style.display = "inline";
                document.getElementById("btn_offline").style.display = "none";
                document.getElementById("btn_hangup").style.display = "none";
                document.getElementById("btn_mute").style.display = "none";
                document.getElementById("btn_unmute").style.display = "none";
                document.getElementById("btn_escalate").style.display = "none";
            }
        }

        function acceptReservation() {
            if (ReservationObject.task.attributes.selected_product === "manager") {
                // Manager escalation, issue call instuction
                console.log("manager task");
                console.log(ReservationObject);
                console.log("{{ base_url }}/transferTwiml?conference=" + ReservationObject.task.attributes.customer_taskSid)
                    ReservationObject.call(
                    "+448081645567",
                    "http://acme-corp-demo.herokuapp.com/transferTwiml?conference=" + ReservationObject.task.attributes.customer_taskSid,
                    "https://requestb.in/1128c331", // Replace with your own url for conferenceEvents
                    "false",


                    function (error, reservation) {
                        if (error) {
                            console.log(error.code);
                            console.log(error.message);
                            return;
                        }
                        console.log("reservation called the escalation contact");
                    }
                );
                ReservationObject.accept(); // Call instruction requires you to manually accept the Reservation prior to issuing the instruction

                 document.getElementById("btn_hangupManager").style.display = "inline";

                unmuteCaller(ReservationObject.task.attributes.customer, ReservationObject.task.attributes.conference);
            }
            else {

                // not a transfer issue conference instruction
                var options = {
                    "From": "{{ caller_id }}",
                    "PostWorkActivitySid": "{{ activity['WrapUp'] }}",
                    "Timeout": "30",
                    "Record": "true",
                    "RecordingCallbackUrl": "https://requestb.in/1128c331", //replace with your own url
                    "ConferenceStatusCallback": "{{ base_url }}/conference_callback",
                    "ConferenceStatusCallbackEvent": "start,end,join,leave"
                };

                ReservationObject.conference(null, null, null, null, null, options,
                    function (error, reservation) {
                        if (error) {
                            console.log(error.code);
                            console.log(error.message);
                        }
                    }
                );

                logger("Conference initiated!");
                document.getElementById("btn_hangup").style.display = "inline";
            }

            document.getElementById("btn_reject").style.display = "none";
            document.getElementById("btn_accept").style.display = "none";
            document.getElementById("btn_online").style.display = "none";
            document.getElementById("btn_offline").style.display = "none";
            document.getElementById("btn_mute").style.display = "inline";
            document.getElementById("btn_unmute").style.display = "inline";
            document.getElementById("btn_escalate").style.display = "inline";

            updateUIStatus("On a call");

        }

        function rejectReservation() {

            ReservationObject.reject();
            document.getElementById("btn_reject").style.display = "none";
            document.getElementById("btn_accept").style.display = "none";
            document.getElementById("btn_hangup").style.display = "none";
        }

        function transferCallBlind_Manager() {
            //Initiate a blind transfer to a Manager
            //Make a post request to /callTransfer with the from, to, agent and tasksid
            // callTransfer endpoint will put customer on hold and create a new task/route call to manage
          //  console.log(ReservationObject.task.sid);
            $.post("/callTransfer", {
                participant: ReservationObject.task.attributes.conference.participants.customer, //customer callSid
                conference: ReservationObject.task.attributes.conference.sid, //conference
                customer: ReservationObject.task.attributes.conference.participants.customer, //customer callsid - consider removing
                taskSid: ReservationObject.task.sid //tasksid for the call transfer
            });


        }

        function muteCaller() {
            $.post("/callmute", {
                participant: ReservationObject.task.attributes.conference.participants.customer,
                conference: ReservationObject.task.attributes.conference.sid,
                muted: "True"
            });


        }

        function unmuteCaller(customer) {
            //post to /callmute end point with the customer callsid and conferenceSID
            if (customer) {
                $.post("/callmute", {
                    participant: customer,
                    conference: ReservationObject.task.attributes.conference,
                    muted: "False"
                });

            }
            else {
                $.post("/callmute", {
                    participant: ReservationObject.task.attributes.conference.participants.customer,
                    conference: ReservationObject.task.attributes.conference.sid,
                    muted: "False"
                });
            }


        }

        function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }


        window.onload = function () {
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token| safe }}");
            registerTaskRouterCallbacks();

        };
    </script>
</head>
<body>
<div class="content">
    <h2>ACME agent desktop</h2>

    <section id="worker_status">
    </section>
    <section>
        <br/>
        <button id="btn_accept" style="display:none;" class="btn" onclick="acceptReservation()">Accept</button>
        <button id="btn_reject" style="display:none;" class="btn" onclick="rejectReservation()">Reject</button>
        <button id="btn_escalate" style="display:none;" class="btn" onclick="transferCallBlind_Manager()">Escalate
        </button>
        <button id="btn_mute" style="display:none;" class="btn" onclick="muteCaller()">Mute</button>
        <button id="btn_unmute" style="display:none;" class="btn" onclick="unmuteCaller()">Unmute</button>
        <button id="btn_hangup" style="display:none;" class="btn" onclick="hangup();">Hangup</button>
           <button id="btn_hangupManager" style="display:none;" class="btn" onclick="hangupManager();">Hangup</button>
        <button id="btn_online" style="display:none;" class="btn" onclick="goAvailable()">Go Available</button>
        <button id="btn_offline" class="btn" onclick="goOffline()">Go Offline</button>
    </section>
    <section class="log">
    </section>
    <br/>
    <section>
    <textarea id="log" readonly="true"></textarea>
    </section>
</div>
</body>
</html>
