<!DOCTYPE html>
<html>
<head>
    <title>OwlCorp Chat Support!</title>
        <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
         <link rel="stylesheet" href={{ url_for('static', filename='css/chat.css') }}>
         <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
         <script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script language="JavaScript">

        function end(){



        }
    </script>

</head>
<body>
  <header>
   </header>
 <div id="typing"></div>
  <section>

    <div id="chatContainer">
    <div id="messages">

    </div>


    <input id="chat-input" type="text" placeholder="say anything" autofocus/>
    </div>

    </section>


  <script src={{ url_for('static', filename='js/customer_chat.js') }}></script>

  <div style="padding-top:2em; text-align:center">
    <a href="/agent_list">Back to Agent List</a>
  </div>
</div>

</body>
</html>